<script setup>
import ColorPalette from '@/components/ColorPalette.vue'
import PatternMaker from '@/components/PatternMaker.vue'
import PatternPreview from '@/components/PatternPreview.vue'
</script>

<template>
  <main>
    <ColorPalette style='margin-right: 74px;' />

    <PatternMaker />

    <PatternPreview class='preview'/>
  </main>
</template>

<style scoped>

main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto minmax(1000px, auto);
  grid-gap: 3rem;

  justify-content: start;
  justify-items: end;
}

.preview {
  grid-row: 1/3;
  grid-column: 2;
}

</style>
