<script setup>
import { ref } from 'vue'
import iro from '@jaames/iro'
import { useColorStore } from '@/stores/color'

const color = useColorStore()
const pickerContainer = ref(null)

const acitveColorIndex = ref(null)
let picker
const handlePicking = (colorIndex) => {
  if (colorIndex === acitveColorIndex.value) {
    acitveColorIndex.value = null
    return
  }



  if (!picker) {
    picker = new iro.ColorPicker(pickerContainer.value)
    picker.on('color:change', newColor => {
      color.setColor(acitveColorIndex.value, newColor.hexString)
    })
  }

  acitveColorIndex.value = colorIndex
  picker.color.set(color.color(colorIndex))
}
</script>

<template>
  <div class='grid gap-6 justify-end'>
    <div class='grid grid-flow-col auto-cols-min gap-2 justify-end'>
      <button v-for='(color, i) in color.colors' :key='i'
        :style='{ "--color": color }'
        class='color rounded-md'
        @click='handlePicking(i)'>

        <svg v-if="i === acitveColorIndex" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
          <g><path d="M978.4,274L978.4,274c7.2-8.8,11.6-20.1,11.6-32.4c0-28.3-22.9-51.2-51.2-51.2l-0.1-0.2L61,190.4c-28.2,0.1-51,23-51,51.2c0,13.4,5.2,25.6,13.6,34.8l436.7,513.3c9.4,12.3,24.1,20.2,40.7,20.2c16.1,0,30.5-7.5,39.9-19.1h0l437.1-516.3C978.2,274.3,978.3,274.2,978.4,274L978.4,274z" fill="white"/></g>
        </svg>

      </button>
    </div>

    <div ref='pickerContainer' 
      class='picker-container relative'
     :style='{ display: acitveColorIndex !== null ? "initial" : "none" }' >
      <button 
        class="absolute right-0 z-10 btn btn-circle btn-outline btn-sm"
        @click='acitveColorIndex = null'>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      </button>
    </div>
  </div>
</template>

<style scoped>

button.color {
  --size: 30px;

  width: var(--size);
  height: var(--size);
  background: var(--color);

  display: grid;
  justify-content: center;
  align-content: center;
  transition: scale 0.3s ease-in;
}
button:hover {
  transform: scale(0.9);
}

button > svg {
  width: 10px;
  height: 10px;
}
</style>
