<script setup>
import { usePatternStore } from '@/stores/pattern'

const pattern = usePatternStore()
</script>

<template>
  <div class='container'>
    <div class='controls mb-3'>
      <button class='btn btn-outline btn-xs' @click="pattern.previewWidth -= 10">-</button>
      {{ pattern.previewWidth }}
      <button class='btn btn-outline btn-xs' @click="pattern.previewWidth += 10">+</button>
    </div>

    <div class='pattern'>
      <div v-for='(row, i) in pattern.rows' :key='i' class='row' >
        <div v-for='(colorIndex, j) in pattern.previewWidth' :key='j'
           :style='{ "--color": pattern.previewPixelColor(i, j) }'
           class='col pixel' >
          V
        </div>
      </div>
    </div>

  </div>
</template>

<style scoped>
.container {
  min-width: 700px;
}

.controls {
  display: grid;
  grid-template-columns: auto 3rem auto;
  grid-gap: 10px;
  justify-content: end;
  justify-items: center;
}
.pattern {
  font-size: 20px;

  --letter-width: 9px;
  --line-height: 12px;

  display: grid;
  grid-auto-rows: var(--line-height);
  justify-content: end;
}

.row {
  display: grid;
  grid-template-rows: var(--line-height);
  grid-auto-columns: var(--letter-width);
  grid-auto-flow: column;
  align-items: center;
}

.pixel {
  color: var(--color);
  font-weight: 1000;
  filter: drop-shadow(0 3px 2px var(--color)) blur(1px);

  display: inline;
  vertical-align: middle;
  transform: scaleX(0.7);
}

.line-number {
  font-size: var(--size);
  height: var(--size);
  width: calc(2 * var(--size));
  margin: 0 0 var(--space) 4px;
}

</style>

