<script setup>
import { usePatternStore } from '@/stores/pattern'

const pattern = usePatternStore()
</script>

<template>
  <div class='pattern'>
    <div class='controls mb-3'>
      <button class='btn btn-outline btn-xs' @click="pattern.removeRow">-</button>
      row
      <button class='btn btn-outline btn-xs' @click="pattern.addRow">+</button>
    </div>

    <div class='rows'>
      <div v-for='(row, i) in pattern.rows' :key='i'
        class='row'
      >

        <div class='row-controls mr-3'>
          <button class='btn btn-outline btn-xs' @click='pattern.extendRow(i)'>{{ '<' }}</button>
          <button class='btn btn-outline btn-xs' @click='pattern.shortenRow(i)'>{{ '>' }}</button>
        </div>

        <div class='spacer' />

        <div class='pixels'>
          <div v-for='(paletteIndex, j) in row' :key='j'
             class='pixel'
             :style='{ background: pattern.pixelColor(i, j) }'
             @click='pattern.cyclePixel(i, j)'
          />
        </div>


        <div class='line-number grid content-center justify-start mr-3'>
          {{ pattern.rows.length - i }}
        </div>
       
        <div class='row-palette'>
          <div v-for='(colorIndex, k) in pattern.rowPalette(i)' :key='k'
             class='row-palette-pixel'
             :style='{ background: pattern.paletteColor(i, k) }'
              @click='pattern.cycleRowPalette(i, k)'
            />
          </div>
        </div>
    </div>

  </div>
</template>

<style scoped>

.pattern {
  --size: 15px;
  --space: 1px;

  min-width: 374px;

  display: grid;
  grid-template-rows: auto auto;
}

.rows {
  display: grid;
  grid-auto-rows: var(--size);
  grid-gap: var(--space);
}
.rows > .row {
  display: grid;
  grid-template-rows: var(--size);
  grid-template-columns: auto 1fr auto 34px auto;
  justify-content: end;
  align-items: center;
  grid-gap: 4px;
}

.row > .row-controls {
  visibility: hidden;

  display: grid;
  grid-template-columns: var(--size) var(--size);
  grid-template-rows: var(--size);
  align-items: center;
  grid-gap: 10px;
}
.row:hover > .row-controls {
  visibility: visible;
}
.row > .row-controls > button {
}

.row > .pixels {
  display: grid;
  grid-template-rows: var(--size);
  grid-auto-columns: minmax(var(--size), auto);
  grid-auto-flow: column;
  justify-content: end;
  grid-gap: var(--space);
}
.row > .pixels > .pixel {
  cursor: pointer;
}
.row > .pixels > .pixel:hover {
  border: 2px solid white;
}

.row > .line-number {
  font-size: calc(var(--size) - 4px);
  margin-right: 20px;
}

.row > .row-palette {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.row-palette > .row-palette-pixel {
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}
.row-palette > .row-palette-pixel:hover {
  border: 2px solid white;
}

.controls {
  margin-right: 76px;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: end;
  justify-items: center;
  align-items: center
}
</style>
