<script setup>
import { RouterView } from 'vue-router'
</script>

<template>
  <!--
  <div class="navbar">
    <RouterLink to='/'>pixel-knit</RouterLink>
    <RouterLink to='/about'>about</RouterLink>
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  -->

  <RouterView />
</template>

<style>
@import '@/assets/base.css';

#app {
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body.old {
    display: flex;
    place-items: center;
  }

  #app.old {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
</style>
